       /* Estilos para o container dos vídeos */
    .videos-container {
    display: flex;
    flex-direction: column; /* Empilha os vídeos verticalmente */
    align-items: center; /* Alinha os vídeos ao centro horizontalmente */
    }

    .god1{
        color: red;
        background-color: black;
    }

    .god2{
        color: red;
        background-color: black;
    }

    .god3{
        color: red;
        background-color: black;
    }

    footer {
        background-color: #333; 
        color: #fff; 
        padding: 10px; 
        text-align: center; 
    }
    
    .gamepl{
        text-align: center;
        text-decoration: underline;
        background-color: black;
        color: red;
    }