body {
    height: 100vh;
    width: 100vw;
    background-image: url('img/gow.jpg');
    background-size: 100%;
    background-repeat: repeat;
    overflow-x: hidden ;
    margin: 0;
  }

  .header1 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: black;
    color: white;
    text-decoration: none;
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0px;
    align-items: center;
    justify-content: space-around;
    display: flex;
  }

  .header1 h2 a{
    color: white;
    text-decoration: none;
  }

  a:hover {
    background-color: red;
      }

  .titulohistoria {
    background: black;
    color: red;
    width: 100%;
    height: 40px;
    position: fixed;
    top: 70px;
    text-decoration: underline;
    align-items: center;
    justify-content: space-around;
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  .container2{
    display: flex;
    width: 100%;
  }

#texto1{
  margin: 0px 5px 0px 5px;
}

  .clique {
    cursor: pointer;
    color: red;
    text-decoration: underline;
    width: 33%;
}

.esconde {
    display: none;
}

#texto2{
  margin: 0px 5px 0px 5px;
}

.clique2 {
  cursor: pointer;
  color: red;
  text-decoration: underline;
  width: 33%;
}

.esconde2 {
  display: none;
}

#texto3{
  margin: 0px 17px 0px 0px;
}

.clique3 {
  cursor: pointer;
  color: red;
  text-decoration: underline;
  width: 33%;
}

.esconde3 {
  display: none;
}

.alinhar{
  align-items:center;
  justify-content: space-around;
  display: flex;
  margin-top: 80px;
}

footer {
  background-color: #333; 
  color: #fff; 
  padding: 10px; 
  text-align: center;
  bottom: 0; 
  justify-content: end;
}


